.font-size-12{
-fx-font-size:12px;
}
.background-bleu{
-fx-background-color: #0d3c61;
}
.background-white{
-fx-background-color:white;
}
.background-ECF2F9{
-fx-background-color:#ECF2F9;

}
.border-hed-white-bottom{

-fx-border-color:white;
}
.border-white-bottom-top{
 -fx-border-width:1.5px 0px 1.5px 0px;
-fx-border-color:white;
}
.border-white-left{
 -fx-border-width:0px 0px 0px 1.5px;
-fx-border-color:white;
}
.Label-white-bottom{
 -fx-border-width:0px 0px 1.5px 0px;
-fx-border-color:white;
}

.button-action-color{
-fx-background-color:white;	
-fx-border-width:1px 1px 1px 1px;
-fx-border-color:Black;
-fx-border-radius:10px;
}

.text-align{
-fx-alignement:CENTER_LEFT;	
}

.font-size-14{
-fx-font-size:14px;
-fx-font-weight:bold;
}
.font-size-16{
-fx-font-size:16px;
}
.font-size-18{
-fx-font-size:18px;
}
.font-size-20{
-fx-font-size:20px;
}
.font-size-22{
-fx-font-size:22px;
}
.font-size-24{
-fx-font-size:24px;
}
.font-size-26{
-fx-font-size:26px;
}
.font-size-28{
-fx-font-size:28px;
}
.font-size-30{
-fx-font-size:30px;
}
.font-size-32{
-fx-font-size:32px;
}
.font-size-34{
-fx-font-size:34px;
}
.font-size-36{
-fx-font-size:36px;
}
.font-size-38{
-fx-font-size:38px;
}
.font-size-46{
-fx-font-size:46px;
}
.font-size-50{
-fx-font-size:50px;
}

.font-bold{
-fx-font-weight:bold;
}
.text-color-white{
-fx-text-fill:#FFFFFF;
}
.fill-color-white{
-fx-fill:#FFFFFF;
}
.background-radius-100{
-fx-background-radius:100px;
}
.background-radius-10{
-fx-background-radius:10px;
}
.background-radius-15{
-fx-background-radius:15px;
}
.background-radius-20{
-fx-background-radius:20px;
}
.background-red{
	-fx-background-color:#BA274A
}
.button-background{
-fx-background-color:#BA274A
}
.button-off-color{
-fx-background-color:#ffffff
}
.button-on-color{
-fx-background-color:#39A2DB
}
.butto_of_light-color{
-fx-background-color:#D6E6F2
}
.text{
	-fx-text-fill:#0d3c61;
}
.text_white{
	-fx-text-fill:white;
}